body{
   
     margin: 0;
     
}

nav
{
   text-decoration: none;
  padding: 20px;
  text-align: center;
  background-color: rgb(122, 122, 122);
}

a{
   color: black;
   padding: 6px 10px;
   border-radius: 5px;
   margin: 100px;
   text-decoration: none;
   font-family:Georgia, 'Times New Roman', Times, serif;
   border: solid black 2px;
   background-color: rgb(122, 103, 103);
   
}

span{
          display: block;
}
.top_bar{
   margin: 100px auto 100px;
   text-align: center;
   padding: 130px;
   color: rgb(12, 12, 14);  
}

.changer-button {
   width: 100px;
   height: 100px;
   border: solid black 2px;
   display: inline-block;
 }

.Pallet
{
   width: 80%;
   margin: 100px auto 100px;
   text-align: center;
   color: black;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#Grey{
   background-color: grey;
}

#blue{
   background-color: blue;
}

#Green
{
   background-color: green;
}

#fuchsia
{
   background-color: fuchsia;
}